<html>
  <meta charset="uft-8">
  <head>
  <style>
    #app {
      width: 1000px;
      margin: 100px auto;
      text-align: center;
    }
    ol {
      list-style: none;
    }
    span,input{
      display: inline-block;
      width: 200px;
    }
    html,body,ol,li {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 30px 0;
    }
    .createdTime {
      color:#ccc;
      font-size: 10px;
    }
    input[type="text"] {
      padding: 5px 0px;
    }
  </style>
  </head>
  <body>
    <div id="app">
      <section id="signInAndSignUp">
        <div>
          <label><input type="radio" name="type" v-model="actionType" value="signUp">注册</label>
          <label><input type="radio" name="type" v-model="actionType" value="login">登入</label>
        </div>
        <div class="signUp" v-if="actionType=='signUp'">
          <form>
            <div class="formRow">
              用户名<input type="text">
            </div>
            <div class="formRow">
              密码<input type="password">
            </div>
            <div class="formActions">
              <input type="submit" value="注册">
            </div>
          </form>
        </div>
        <div class="login" v-if="actionType=='login'">
          <form>
            <div class="formRow">
              用户名<input type="text">
            </div>
            <div class="formRow">
              密码<input type="password">
            </div>
            <div class="formActions">
              <input type="submit" value="登入">
            </div>
          </form>
        </div>
      </section>
      <section id="todo">
        <div class="newTask">
          <input type="text" v-model = "newTodo" @keypress.enter = "addTodo" placeholder="todoList">
        </div>
        <ol class="todos">
          <li v-for = "todo in todoList">
            <input type="checkbox" v-model="todo.done">
            <span>{{todo.title}}</span>
            <span class="createdTime">{{todo.createdAt}}</span>
            <span v-if="todo.done">已完成</span>
            <span v-else>未完成</span>
            <button v-on:click="deleteTodo(todo)">X</button>
          </li>
        </ol>
      </section>  
    </div>
    <script src="bundle.js"></script>
  </body>
</html>