<html>
  <meta charset="uft-8">
  <head>
  <style>
    .createdTime {
      color:#ccc;
      font-size: 10px;
    }
  </style>
  </head>
  <body>
    <div id="app">  
      <div class="newTask">
        <input type="text" v-model = "newTodo" @keypress.enter = "addTodo">
        <!-- <button class="add" v-on:click="addTodo">Add</button> -->
      </div>
      <ol class="todos">
        <li v-for = "todo in todoList">
          <input type="checkbox" v-model="todo.done">
          {{todo.title}}
          <span class="createdTime">{{todo.createdAt}}</span>
          <span v-if="todo.done">已完成</span>
          <span v-else>未完成</span>
          <button v-on:click="deleteTodo(todo)">X</button>
        </li>
      </ol>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>